<div class="row thumbnail-row">
	<div class="row" data-ng-repeat="x in productList">
		<div class="col-sm-6 col-md-6">
			<a href="#showProduct/{{x._id}}"><img src="images/{{x.parentCategory}}/{{x.thumbnailUrl}}"
			="{{x.title}}"></a>
		</div>
		<div class="col-sm-6 col-md-6">
			<table class="table table-stripped">
				<tr>
					<td>Name:</td>
					<td>{{x.title}}</td>
				</tr>
				<tr>
					<td>By:</td>
					<td>{{x.creator}}</td>
				</tr>
				<tr>
					<td>Price:</td>
					<td>{{x.price}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>