<nav class="navbar navbar-inverse navbar-fixed-top top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand custom" href="#"><i class="glyphicon glyphicon-gift"></i>Bonyzone</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<!-- <div class="right-inner-addon">
					<i class="glyphicon glyphicon-search"></i>
					<input type="search" class="form-control" placeholder="Search" />
					</div> -->
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome user! <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#">Profile</a>
						</li>
						<li>
							<a href="#">Do something</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">Actions</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">logout</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right cart">
				<li>
					<i class="glyphicon glyphicon-shopping-cart"></i><span class="bubble">3</span>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>