<div class="row thumbnail-row">
	<div class="col-sm-6 col-md-6" data-ng-repeat="x in catalogObjects">
		<div class="thumbnail">
			<a href="#showProducts/{{x.name}}"><img src="images/{{x.name}}/thumb.jpg"
			alt="{{x.name}}"></a>
		</div>
		<div class="caption">
			<a href="#showProducts/{{x.name}}"><h3>{{x.name | uppercase}}</h3></a>
		</div>
	</div>
</div>
