<nav class="vertical">
	<ul>
		<li data-ng-repeat="x in catalogObjects">
			<a href="#showProducts/{{x.name}}">{{x.name}}</a>
			<div>
				<ul>
					<li data-ng-repeat="y in x.value">
						<a href="#showProduct/{{y._id}}" style="font-size: 11px;">{{y.creator}}</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>