<div class="row">
	<div class="col-sm-6 col-md-6">
		<img src="images/{{product.parentCategory}}/{{product.thumbnailUrl}}" ="{{product.title}}">
	</div>
	<div class="col-sm-6 col-md-6">
		<table class="table table-stripped">
			<tr>
				<td>Name:</td>
				<td>{{product.title}}</td>
			</tr>
			<tr>
				<td>By:</td>
				<td>{{product.creator}}</td>
			</tr>
			<tr>
				<td>Category:</td>
				<td>{{product.style}}</td>
			</tr>
			<tr>
				<td>Type:</td>
				<td>{{product.type}}</td>
			</tr>
			<tr>
				<td>Price:</td>
				<td>{{product.price}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<p style="font-size: 15px;">{{product.description}}</p>
</div>